<h2>About Me</h2>

<p>
  Subscribe to my blog below!
</p>

<form class="" action="index.html" method="post">
  <label>Name</label>
  <input type="text" name="name" value="">
  <label>Email</label>
  <input type="text" name="email" value="">
  <button type="button" name="subscribe">Subscribe</button>
</form>
