<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Blog!</title>
  <link rel="stylesheet" href="/css/style.css" media="screen" title="no title" charset="utf-8">
  <link href='https://fonts.googleapis.com/css?family=Megrim' rel='stylesheet' type='text/css'>
  <link href='https://fonts.googleapis.com/css?family=Quicksand:700,400' rel='stylesheet' type='text/css'>
</head>
<body>

  <header>
    <h1>BLOGGING &amp SHIT</h1>

  <nav>
    <a href="http://localhost:4567">Home</a>
    <a href="http://localhost:4567/about">About Me</a>
    <a href="http://localhost:4567/Tuna">Tuna</a>
    <a href="http://localhost:4567/Bacon">Bacon</a>
    <a href="http://localhost:4567/Veggie">Veggie</a>
  </nav>
  </header>

  <%= yield %>

</body>
</html>
