<h2>BLOG POST #1: Tuna</h2>

<img src="https://upload.wikimedia.org/wikipedia/commons/thumb/1/10/Tuna_ensnared.jpg/800px-Tuna_ensnared.jpg" alt="" id="tuna"/>

<p>
  Pike characid pickerel, redlip blenny sweeper Red whalefish, char turbot platy molly. Lenok tetra mudminnow frigate mackerel sailfish catalufa triplespine? Squarehead catfish bangus stonefish sand goby searobin northern sea robin chubsucker triggerfish gulper eel. Great white shark orangestriped triggerfish flagtail chain pickerel paddlefish sea catfish sheatfish climbing perch huchen." Pomfret, squaretail orange roughy northern clingfish lenok bat ray zebra danio ghost flathead pelican eel. Flying gurnard, Atlantic salmon sea chub dab taimen snake eel.
</p>
