<h2>BLOG POST #2: Bacon</h2>

<img src="http://www.drinkamara.com/wp-content/uploads/2015/03/bacon_blog_post.jpg" alt="" id="bacon"/>

<p>
  Bacon ipsum dolor amet beef swine shoulder hamburger picanha short loin salami tri-tip bresaola doner kielbasa chuck. Beef ribs prosciutto shankle spare ribs tongue pig. Shankle ham hock picanha, t-bone beef bacon pork alcatra. Ball tip leberkas fatback pig bresaola boudin pork chop porchetta ham ham hock doner. Ground round prosciutto tail beef ribs.
</p>
