

<div class="background">

  <h1>MOVIES!</h1>

  <div class="search-box">
    <form class="form" action="/search" method="post" autocomplete="off">
      <input class="search-input" type="text" name="name" placeholder="Search by title">
      <button>SEARCH</button>
    </form>
  </div>
</div>
