<section class="fullscreen-bg">
    <video loop muted autoplay poster="../background.png" class="fullscreen-bg__video">
        <source src="https://09-lvl3-pdl.vimeocdn.com/01/2263/3/86315715/226408587.mp4?expires=1446125316&token=06a331535cfeb09a9dd99" type="video/mp4">
    </video>
</section>

<h1> <img src="../logo.png" alt="" id="logo-homepage"/>REELI</h1>

<div class="search-box">
  <form class="form" action="/search" method="post" autocomplete="off">
    <input class="search-input" type="text" name="name" placeholder="Search by title" required="required">
  </form>
</div>
