* {
  box-sizing: border-box;
}

html {
   min-height: 100%;
}

body {
  text-align: center;
  margin: 0 auto;
  background-color: black;
  color: white;
  overflow: hidden;
  font-family: 'Roboto Condensed', sans-serif;
  max-width: 480px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

h1 {
  font-size: 4em;
  margin: 0 auto;
  margin-top: 5%;
  background-color: white;
  color: black;
  width: 420px;
}

h3 {
  margin: 1%;
  font-size: 1em;
  text-transform: uppercase;
  font-weight: normal;
}

.container {
  margin: 0 auto;
}

.search-box {
  display: inline-block;
  border: none;
  border-bottom: 2px solid white;
  margin: 5%;
}

input {
  color: white;
  background-color: transparent;
  border: none;
  font-size: 1em;
  padding-bottom: 2%;
  text-transform: uppercase;
}

input:focus, button:focus {
  outline: 0;
}

button {
  color: white;
  background-color: transparent;
  border: none;
}

.fa-search {
  color: white;
  font-size: 1.5em;
}

/*** QUOTE DISPLAY ***/
.price {
  display: block;
  border: none;
  margin: 10% 0 10% 0;
}

#ticker, #change, #price {
  display: inline-block;
  vertical-align: middle;
  line-height: 2.3em;
}

#ticker, #price {
  margin-right: 3%;
  font-size: 2.3em;
  font-weight: bold;
}

#price {
  margin-right: 3%;
}

#change {
  margin-left: 1%;
  font-size: 1.1em;
  width: 5em;
  border: 1px solid white;
  line-height: 1.6em;
  border-radius: 4%;
  background-color: white;
  color: black;
}

/*** TABLE ***/
table {
  border-top: 2px solid white;
  border-bottom: 2px solid white;
  width: 420px;
  height: 100px;
  display: table;

}

td {
  width: 87.5px;
  border-bottom: 1px solid grey;
  padding-top: 1%;
  padding-bottom: 1%;
}

.bottom-line {
  border-bottom: 0;
}

.keys {
  text-align: left;
}

.values {
  text-align: right;
}

.values_mid {
  padding-right: 2%;
}

.keys_mid {
  padding-left: 2%;
}
