<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Stocky!</title>
  <link rel="stylesheet" href="/font-awesome.min.css">
  <link rel="stylesheet" href="/style.css">
  <link href='https://fonts.googleapis.com/css?family=Source+Sans+Pro' rel='stylesheet' type='text/css'>
</head>
<body>

  <h1 href="/">STOCKY!</h1>

  <div class="container">
    <%= yield %>
  </div>

</body>
</html>
