* {
  box-sizing: border-box;
}

body {
  background-color: white;
  /*background-image: url(../background.jpg);*/
  color: rgb(51, 51, 51);
  margin: 0 auto;
  font-family: 'Roboto Condensed', sans-serif;
  text-align: center;
}


#logo {
  position: fixed;
  display: inline-block;
  height: 45px;
  width: 45px;
  /*line-height: 40px;*/
  top: 0.5%;
  left: 15%;
}

header {
  position: fixed;
  top: 0;
  display: block;
}
.header-bar {
  height: 50px;
  background-color: rgba(0, 0, 0, 0.8);
  vertical-align: middle;
  width: 100%;
}

.search-bar {
  display: inline-block;
  color: white;
  left: 35%;
  margin: 0 auto;
  width: 50%;
  height: 50px;
  text-align: center;
}

 .input-logo {
   font-size: 20px;
 }

.input-bar {
  background-color: transparent;
  display: inline-block;
  color: white;
  border: none;
  font-size: 20px;
  text-decoration: none;
  text-align: left;
  height: 50px;
  width: 93%;
  padding: 2%;
}

.input-bar:focus {
  outline: 0;
  background-color: rgba(0, 0, 0, 0.2);
}


h1 {
  font-size: 100px;
  color: white;
}

#logo-homepage {
  height: 175px;
  width: 175px;
}

.error-message {
  position: fixed;
  top: 20%;
  left: 5%;
  width: 90%;
  font-size: 40px;
}




.background {
  position: fixed;
  width: 100%;
  height: 100%;
  /*background-image: url(../background.jpg);*/
}

.search-box {
  position: relative;
  /*border: 1px solid white;*/
  width: 80%;
  height: 30%;
  left: 10%;
  border-radius: 20px;
}

.search-input {
  border: none;
  border-bottom: 8px solid white;
  background-color: transparent;
  color: white;
  font-size: 35px;
  text-decoration: none;
  text-align: center;
  position: fixed;
  top: 55%;
  left: 35%;
  width: 30%;
  padding-bottom: 8px;
}

.search-input:focus, button:focus {
  outline: 0;
}

table {
  border: 1px solid transparent;
  width: 50%;
  border-collapse:separate;
  border-spacing: 10px;
  margin-top: 60px;
}

td {
  padding: 0;
  text-align: left;
}

tr:nth-child(odd) {
  background-color: rgb(242, 242, 242);
}

a {
  text-decoration: none;
  color: rgb(0, 130, 178);
}

a:hover {
  color: rgb(51, 51, 51);
}

.search-title {
  font-size: 20px;
  padding-left: 15px;
  margin: 0 auto;
}

.search-poster {
  width: 75px;
}

#search-thumbnail {
  height: 112.5px;
  width: 75px;
}

div {
  padding-bottom: 2%;
}

#description-thumbnail {
  height: 360px;
  width: 240px;
  padding: 2%;
}

.result-table {
  width: 65%;
  margin-top: 10%;
}

.result-description {
  vertical-align: top;
  padding: 2%;
}

#title {
  font-size: 2.4em;
}

#year, #rating {
  font-size: 1.4em;
}

.people {
  font-size: 1em;
}

.about-descriptors {
  font-size: 1.1em;
  font-weight: bold;
}

/* BACKGROUND VIDEO */
.fullscreen-bg {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: hidden;
  z-index: -100;
}

.fullscreen-bg__video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

@media (min-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    height: 300%;
    top: -100%;
  }
}

@media (max-aspect-ratio: 16/9) {
  .fullscreen-bg__video {
    width: 300%;
    left: -100%;
  }
}

@media (max-width: 767px) {
  .fullscreen-bg {
    background: url('../img/videoframe.jpg') center center / cover no-repeat;
  }

  .fullscreen-bg__video {
    display: none;
  }
}
